<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ProblemPageRedirection</servlet-name>
  	<display-name>ProblemPageRedirection</display-name>
  	<description></description>
  	<servlet-class>cpFinal.ProblemPageRedirection</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Contests</servlet-name>
  	<display-name>Contests</display-name>
  	<description></description>
  	<servlet-class>cpFinal.Contests</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Users</servlet-name>
  	<display-name>Users</display-name>
  	<description></description>
  	<servlet-class>cpFinal.Users</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendComment</servlet-name>
  	<display-name>SendComment</display-name>
  	<description></description>
  	<servlet-class>cpFinal.SendComment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendMessage</servlet-name>
  	<display-name>SendMessage</display-name>
  	<description></description>
  	<servlet-class>cpFinal.SendMessage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>editUser</servlet-name>
  	<display-name>/editUser</display-name>
  	<description></description>
  	<servlet-class>cpFinal.editUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteUser</servlet-name>
  	<display-name>deleteUser</display-name>
  	<description></description>
  	<servlet-class>cpFinal.deleteUser</servlet-class>
  </servlet>
    <servlet>
  	<servlet-name>problemSet</servlet-name>
  	<display-name>problemSet</display-name>
  	<description></description>
  	<servlet-class>cpFinal.problemSet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addUser</servlet-name>
  	<display-name>addUser</display-name>
  	<description></description>
  	<servlet-class>cpFinal.addUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Problems</servlet-name>
  	<display-name>Problems</display-name>
  	<description></description>
  	<servlet-class>cpFinal.Problems</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addProblem</servlet-name>
  	<display-name>addProblem</display-name>
  	<description></description>
  	<servlet-class>cpFinal.addProblem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addTestCase</servlet-name>
  	<display-name>addTestCase</display-name>
  	<description></description>
  	<servlet-class>cpFinal.addTestCase</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>editProblem</servlet-name>
  	<display-name>editProblem</display-name>
  	<description></description>
  	<servlet-class>cpFinal.editProblem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userSubmission</servlet-name>
  	<display-name>userSubmission</display-name>
  	<description></description>
  	<servlet-class>cpFinal.userSubmission</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>submissionAdmin</servlet-name>
  	<display-name>submissionAdmin</display-name>
  	<description></description>
  	<servlet-class>cpFinal.submissionAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewCodeSubmission</servlet-name>
  	<display-name>ViewCodeSubmission</display-name>
  	<description></description>
  	<servlet-class>cpFinal.ViewCodeSubmission</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Announcement</servlet-name>
  	<display-name>Announcement</display-name>
  	<description></description>
  	<servlet-class>cpFinal.Announcement</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addLanguage</servlet-name>
  	<display-name>addLanguage</display-name>
  	<description></description>
  	<servlet-class>cpFinal.addLanguage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddAnnouncement</servlet-name>
  	<display-name>AddAnnouncement</display-name>
  	<description></description>
  	<servlet-class>cpFinal.AddAnnouncement</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditAnnouncement</servlet-name>
  	<display-name>EditAnnouncement</display-name>
  	<description></description>
  	<servlet-class>cpFinal.EditAnnouncement</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteTestCase</servlet-name>
  	<display-name>DeleteTestCase</display-name>
  	<description></description>
  	<servlet-class>cpFinal.DeleteTestCase</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteLanguage</servlet-name>
  	<display-name>DeleteLanguage</display-name>
  	<description></description>
  	<servlet-class>cpFinal.DeleteLanguage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MailBox</servlet-name>
  	<display-name>MailBox</display-name>
  	<description></description>
  	<servlet-class>cpFinal.MailBox</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProblemSubmission</servlet-name>
  	<display-name>ProblemSubmission</display-name>
  	<description></description>
  	<servlet-class>cpFinal.ProblemSubmission</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProblemPageRedirection</servlet-name>
  	<url-pattern>/ProblemPageRedirection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Contests</servlet-name>
  	<url-pattern>/Contests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Users</servlet-name>
  	<url-pattern>/Users</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendComment</servlet-name>
  	<url-pattern>/SendComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendMessage</servlet-name>
  	<url-pattern>/SendMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>editUser</servlet-name>
  	<url-pattern>/editUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteUser</servlet-name>
  	<url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addUser</servlet-name>
  	<url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>problemSet</servlet-name>
  	<url-pattern>/problemSet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addProblem</servlet-name>
  	<url-pattern>/addProblem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addTestCase</servlet-name>
  	<url-pattern>/addTestCase</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>editProblem</servlet-name>
  	<url-pattern>/editProblem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userSubmission</servlet-name>
  	<url-pattern>/userSubmission</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>submissionAdmin</servlet-name>
  	<url-pattern>/submissionAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewCodeSubmission</servlet-name>
  	<url-pattern>/ViewCodeSubmission</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Announcement</servlet-name>
  	<url-pattern>/Announcement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addLanguage</servlet-name>
  	<url-pattern>/addLanguage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAnnouncement</servlet-name>
  	<url-pattern>/AddAnnouncement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditAnnouncement</servlet-name>
  	<url-pattern>/EditAnnouncement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteTestCase</servlet-name>
  	<url-pattern>/DeleteTestCase</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteLanguage</servlet-name>
  	<url-pattern>/DeleteLanguage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MailBox</servlet-name>
  	<url-pattern>/MailBox</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProblemSubmission</servlet-name>
  	<url-pattern>/ProblemSubmission</url-pattern>
  </servlet-mapping>
</web-app>
